
@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@section topCSS {
    <link rel="stylesheet" href="~/css/_Partial/_AccountNavBarPartial.css">
    <link href="~/css/account/changepassword.css" rel="stylesheet" />
}

    <section class="section_wrap">
    <div id="ChangePassword" class="width ">
        <div class="account-navigation-wrap">
            @await Html.PartialAsync("_AccountNavBarPartial", new List<TabStatusViewModel>
            {
            new TabStatusViewModel { IsActive = false},
            new TabStatusViewModel { IsActive = false},
            new TabStatusViewModel { IsActive = true},
            new TabStatusViewModel { IsActive = false},
            new TabStatusViewModel { IsActive = false},
            new TabStatusViewModel { IsActive = false},
            new TabStatusViewModel { IsActive = false}
            })
        </div>
         
            <!----------- Title------------>
            <div class="title">
                <h2 id="title">修改密碼</h2>
            </div>

            <!----------- Form------------>
            <form id="change_password" action="">
                <div class="main-form">
                    <div class="content-wrapper">
                        <div class="form_contaner">
                            <!-- ----------------------目前密碼----------------  -->
                            <label for="password">
                                <abbr title="required">*</abbr>
                                目前密碼
                            </label>
                            <div class="form-content input-group-sm">
                                <input class="form-control" id="password" type="password">
                            </div>
                            <!-- ---------------------- 新密碼----------------  -->
                            <label for="new-password">
                                <abbr title="required">*</abbr>
                                新密碼
                            </label>
                            <div class="form-content input-group-sm">
                                <input class="form-control" id="new-password" type="password">
                            </div>
                            <!-- ---------------------- 確認新密碼----------------  -->
                            <label for="confirm-password">
                                <abbr title="required">*</abbr>
                                確認新密碼
                            </label>
                            <div class="form-content input-group-sm">
                                <input class="form-control" id="confirm-password" type="password">
                            </div>
                        </div>
                        <!-- ---------------儲存個人資料按鈕-------------- -->
                    </div>
                </div>
            </form>
            <div class="border"></div>
            <div class="div-wrap">
                <div class="btn-save">
                    <button type="button" class="btn"
                        style="background-color:var(--main-green);color: white;border:none;">
                        修改密碼
                    </button>
                </div>
            </div>
        </div>
    </section>