@{
    ViewData["Title"] = "ForgetPassword";
}

@section topCSS {
    <link rel="stylesheet" href="~/css/Account/ForgetPassword.css">
}

<div class="wallpaper">
    <div class="container">
        <div class="wrap">
            <div class="tab">
                <div class="log-in"><a asp-controller="Account" asp-action="LogIn">登入</a></div>
                <div class="sign-up"><a asp-controller="Account" asp-action="SignUp">註冊</a></div>
            </div>
            <div class="input-area">
                <h3>忘記密碼</h3>
                <div class="enter-email">
                    <input type="email" placeholder="請輸入 Email">
                </div>
                <div class="submit"><a href="">重設密碼</a></div>
            </div>
        </div>
    </div>
</div>