@{
    ViewData["Title"] = "MyTickets";
}

@section topCSS {
    <link rel="stylesheet" href="~/css/Account/MyTickets.css">
}

<div class="wrap width">
        <div class="logo-label">
            <div class="e-ticket">電子票券</div>
            <div class="logo"><img src="https://res.cloudinary.com/dwn2iafcc/image/upload/v1708682216/shownest-logo_velesa.png" alt=""></div>
        </div>
        <div class="e-ticket-wrap">
            <div class="event-and-qrcode">
                <div class="event-detail">
                    <div class="event-name">2024 Whee In 1ST WORLD TOUR: WHEE IN THE MOOD〔BEYOND〕IN TAIPEI</div>
                    <div class="event-date">2024/09/01 09:00:00</div>
                    <div class="event-place">106台北市大安區忠孝東路三段96號11號樓之1</div>
                    <div class="ticket-type">Free</div>
                </div>
                <div class="qrcode"><img
                        src="https://chart.googleapis.com/chart?cht=qr&chl=http%3A%2F%2Fshownest.com&chs=180x180&choe=UTF-8&chld=L|2">
                </div>
            </div>
            <div class="action-btns">
                <div class="ticket-info"><a href="">票券資訊</a></div>
                <div class="edit-contact-info"><a href="">修改聯絡方式</a></div>
            </div>
        </div>
    </div>
    <div class="wrap width">
        <div class="logo-label">
            <div class="e-ticket">電子票券</div>
            <div class="logo"><img src="https://res.cloudinary.com/dwn2iafcc/image/upload/v1708967802/shownest-logo_wwryqy.png" alt=""></div>
        </div>
        <div class="e-ticket-wrap">
            <div class="event-and-qrcode">
                <div class="event-detail">
                    <div class="event-name">2024 Whee In 1ST WORLD TOUR: WHEE IN THE MOOD〔BEYOND〕IN TAIPEI</div>
                    <div class="event-date">2024/09/01 09:00:00</div>
                    <div class="event-place">106台北市大安區忠孝東路三段96號11號樓之1</div>
                    <div class="ticket-type">Free</div>
                </div>
                <div class="qrcode"><img
                        src="https://chart.googleapis.com/chart?cht=qr&chl=http%3A%2F%2Fshownest.com&chs=180x180&choe=UTF-8&chld=L|2">
                </div>
            </div>
            <div class="action-btns">
                <div class="ticket-info"><a href="">票券資訊</a></div>
                <div class="display-ticket-info" style="display: none;">
                    <div class="order-number">訂單編號：135506220</div>
                    <div class="ticket-number">票號：99115743</div>
                    <div class="ticket-price">票價：TWD$3,000</div>
                    <div class="register-id">報名序號：#1</div>
                </div>
                <div class="edit-contact-info"><a href="">修改聯絡方式</a></div>
            </div>
        </div>
    </div>