@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@section topCSS {
    <link href="~/css/_partial/_accountnavbarpartial.css" rel="stylesheet" />
    <link href="~/css/account/reclaimorders.css" rel="stylesheet" />
}


    <section class="section_wrap">
    <div id="ReclaimOrders" class="width">
        <div class="account-navigation-wrap">
            @await Html.PartialAsync("_AccountNavBarPartial", new List<TabStatusViewModel>
            {
            new TabStatusViewModel { IsActive = false},
            new TabStatusViewModel { IsActive = false},
            new TabStatusViewModel { IsActive = false},
            new TabStatusViewModel { IsActive = false},
            new TabStatusViewModel { IsActive = false},
            new TabStatusViewModel { IsActive = false},
            new TabStatusViewModel { IsActive = true}
            })
        </div>

            <!----------- Title------------>
            <div class="title">
                <h2 id="title">訂單歸戶</h2>
            </div>

            <!----------- Form------------>
            <form id="reclaim_orders" action="">
                <div class="content-wrapper">
                    <div class="form_contaner">
                    <div class="form-content input-group-sm">
                            <input class="order-num form-control" type="number" id="order-num" name="order-num"
                                placeholder="訂單編號">
                        </div>
                    <div class="form-content input-group-sm">
                            <input class="order-num form-control" type="text" id="search-num" name="search-num"
                                placeholder="查詢碼">
                        </div>
                    </div>
                </div>
                <div class="caption">
                    <div class="gray-wrap">
                        <p>如果您自 Famiport 機台或現場購票等方式購買已開立雲端發票的票券，可以在此將發票資訊歸入您的 ShowNest
                            帳戶以便查詢。請輸入第一張票券上載明的訂單號碼及查詢碼。（如無該項資訊，代表該訂單沒有開立雲端發票。）</p>
                    </div>
                </div>
            </form>
            <!-- ---------------界線-------------- -->
            <div class="border"></div>
            <!-- ---------------儲存個人資料按鈕-------------- -->
            <div class="div-wrap">
                <div class="btn-save">
                    <button type="button" class="btn"
                        style="background-color:var(--main-green);color: white;border:none;">
                        送出
                    </button>
                </div>
            </div>
        </div>
    </section>
