
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* change bootstrap nav color start */
.nav-tabs {
    --bs-nav-tabs-link-active-color: var(--bs-emphasis-color);
    --bs-emphasis-color: #333333
}

ul.nav li a,
ul.nav li a:visited {
    color: var(--main-green);
}

ul.nav li a:hover,
ul.nav li a:active {
    color: var(--main-green);
    background-color: #FAFAFA;
    text-decoration: none;
}

ul.nav li.active a {
    color: var(--main-green);
}

/* change bootstrap nav color end */


/* main Body */
.section_wrap {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-wrap {
    width: 75%;
}
.title {
    display: block;
    line-height: 2;
    /* align-items: center; */
    vertical-align: middle;
}
h2 {
    font-size: 30px;
    text-align: left;
}
.content-wrapper input{
    width: 50%;
}
.form-content {
    margin-bottom: 10px;
}
.content-wrapper{
    padding-top: 20px;
}
.form_contaner {
    display: grid;
    grid-template-columns: 3fr 8fr;
    margin-bottom: 10px;
}
.form-content{
    padding-bottom: 10px;
}

label {
    display: inline-block;
    padding: 10px 0px;
    margin-right: 20px;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
}

abbr {
    color: #c07525;
}

p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 10px;
    line-height: 1.5;
    color: var(--dark-gray);;
    font-size: 14px;
}

div.border{
    border-bottom:1px solid var(--dark-gray);
    margin-top: 20px;
}
.btn-save {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}
.div-wrap{
    display: grid;
    grid-template-columns: 5.8fr 3fr;
}


@media screen and (max-width:768px) {
    .title{
        text-align: center;
    }
    .form_contaner{
        display: flex;
        flex-direction: column;
        /* margin: auto; */
    }
    .form_contaner input{
        width: 100%;
    }
    label {
        min-width: 98px;
        display: flex;
        text-align: left;
    }
    .div-wrap{
        display: block;
    }
}