@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

body{
    margin-top: 60px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
/* ---------------------------------head---------------------------------------------- */
.site-header{
    padding: 18px 0px 18px 0px;
    position: relative;
}
.menu-wrap{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: #ffff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
.menu{
display: flex;
flex-wrap: nowrap;
width: 70%;
margin: auto;
justify-content: space-between;
align-items: center;
padding: 10px 20px; 
}
img{
    /* object-fit: cover; */
    vertical-align: middle;
}
.site-header .logo{
    flex-grow: 1;
    flex-shrink: 1;
}
.top-group{
    flex-grow: 2;
    flex-shrink: 1;
    align-items: center;
    justify-content: center;
    margin: auto;
    
}
.site-header .text-group{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 20px;
}

.site-header .text-group .text:not(:hover):first-child {
    border-bottom: none;
}
.site-header .text-group .text:hover{
    border-bottom:1px solid #3b3d42;
}
.site-header .text-group .text:first-child{
    border-bottom:1px solid #3b3d42;
}
.menu .button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
}
.menu .button span{
    padding: 10px 20px;
    border: 1px solid #aaaa;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    color: #3b3d42;
    cursor: pointer;
}
.button span:hover{
    background-color: #1fde82;
    color:white;
    border: none;
    transition: 0.3s;
}
a{
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 300;
    font-size: 16px;
    color: #3b3d42;
}
section.intro{
    padding: 20px 0px;
}

h2.title1{
    color: #1d273b;
    width: 70%;
    font-size: 58px;
    font-weight: 300;
    line-height: 1;
    
}
h2.title{
    color: #1d273b;
    width: 70%;
    font-size: 45px;
    font-weight: 300;
    line-height: 1.2;
    padding-bottom: 10px;
    text-align: left;
    padding: 20px 0px 20px 0px;
}
h2.title3{
    width: 65%;
    color: #1d273b;
    font-size: 45px;
    font-weight: 300;
    line-height: 1.2;
    text-align: left;
}

p{
color: #5d6678;
font-size:normal ;
font-weight:300;
line-height: 1.5em;
}
.intro .intro-image{
    width: 45%;
}

/* ---------------------------------intro---------------------------------------------- */

section.intro{
    width: 1200px;
    margin: auto;
    padding: 40px 0px 60px 0px;
    /* border: 1px solid red; */
}
.wrap{
    line-height: 2;
    width: 465px;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    /* padding-left: 40px; */
    margin-left: 60px;
}

.wrap h1{
    color: #1d273b;
    font-size: 58px;
    font-weight: 300;
    line-height: 1.2;
    padding-bottom: 10px;
    text-align: left;
}
.wrap h2{
    width: 400px;
    color: #1d273b;
    font-size: 42px;
    font-weight: 300;
    line-height: 1.2;
    padding-bottom: 10px;
    text-align: left;
}
.wrap p{
    padding: 20px 0px;
    font-size:14px;
    width: 400px;
}
.intro .intro-image{
    width: 523px;
}

.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
}
.intro .button{
    font-size: 14px;
    cursor: pointer;
    padding: 12px 18px 12px 0px;
}
.button .learn-more{
    color: aliceblue;
    background-color: #1fde82;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}
.button .learn-more:hover{
    background-color: #5d6678;
    border: none;
    transition: 0.3s;
}
.countact-us{
    color:#5d6678;
    border: 1px solid #aab9d6;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}
.button-group{
    font-weight:500;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: baseline;
}

.button-group .subscribe{
    color:#5d6678;
    padding: 10px 20px;
    border: 1px solid #aab9d6;
    border-radius: 3px;
    cursor: pointer;
}
.intro:nth-of-type(2){
    display: flex;
    flex-direction: row-reverse;
}
/* ---------------------------------services---------------------------------------------- */

.services-wrap{
    width: 100%;
    /* border: 1px solid yellow; */
    color: #1d273b ;
}
.services-box{
    width: 70%;
    margin: auto;
    padding: 80px 0px 80px 0px;
}
.services-wrap .head{
    width: 100%;
}
.head .head-title{
width: 40%;
font-size: 42px;
line-height: 1.2;
font-weight: 300;
text-align: left;
padding: 20px 0px 40px 10px;

}
.card-group{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.services-wrap .card-group .card{
    box-shadow:5px 5px 10px  #dde4f5;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    padding: 20px;
    width: 70%;
}
.card .card-title{
    font-size: 22px;
    line-height: 2;
    width: 100%;
    align-items: center;
    padding: 0px 10px;
}
.card-p{
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 40px;
    padding: 0px 10px;
    line-height: 1.8;
}
span.readmore{
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    color: #484a4f;
}
.read-container{
    padding: 20px 0px 20px 0px;
    width: 100%;
}
.read-container a{
    padding: 0px 10px;
}
.read-container .readmore:hover{
    color: #1fde82;
    transition: 0.3s;
}
.icon{
    width: 100%;
    padding: 20px;
}
/* ---------------------------------number-card---------------------------------------------- */
.number-wrap{
    background: #2570ff;
    flex-direction: row;
    line-height: 1.5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 40px;
    gap: 60px;
}
.number-group{
width: 50%;
display: grid;
grid-template-columns: 1fr 1fr;
gap: 40px;
padding-inline: 20px;
padding: 60px;
}
.number-wrap .info-group{
    width: 50%;

}
.num-wrap{
background-color: #3f81ff;
border-radius: 10px;
padding: 40px;
}
h3.num{
    color: aliceblue;
    font-size: 58px;
    font-weight: bold;
    padding-bottom: 10px;
}
.num-wrap p{
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    color: aliceblue;
}

.info-group h2.title{
    width: 70%;
    color: aliceblue;
    font-weight: 300;
    font-size: 45px;
    line-height: 1.2;
    padding-bottom: 20px;
}
.number-wrap .info-group p{
    width: 60%;
    color: aliceblue;
    font-weight: 300;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    line-height: 1.8;
    padding-bottom: 40px;
}

.od-button{
    font-size: 14px;
    font-weight: bold;
    color: aliceblue;
    border: 1px solid seashell;
    padding: 10px 20px;
    border-radius: 4px;
}
.od-button:hover{
    background-color: #1fde82;
    transition: 0.3s;
    border: none;
}
.order-btn{
    width: 100%;
}

/* ---------------------------------steps---------------------------------------------- */

.steps{
    padding: 80px 0px 80px 0px;
    margin: auto;
    width: 70%;
    color: #1d273b;
}
.steps .title h2{
    font-size: 42px;
    font-weight: 300;
    padding: 20px 0px 60px 0px;
}
.steps h3{
    font-size: 22px;
    font-weight: 400;
}
.text-group p{
    width: 80%;
    font-size: 14px;
    line-height: 1.8;
}
.steps .text-group{
    width: 30%;
    padding: 60px 0px 60px 0px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.icon-group{
    padding: 20px 30px 20px 30px;
    display: flex;
    justify-content:flex-end;
    align-items:center;
}


.elementor-row{
flex-direction: row;
line-height: 1.5;
display: flex;
justify-content:center;
align-items: center;
padding: 20px;
}
.elementor-row:nth-last-of-type(even){
    display: flex;
    flex-direction: row-reverse;
}
.elementor-row:nth-last-of-type(even) .icon-group{
    display: flex;
    flex-direction: row-reverse;
    order: 1;
    padding-left: 10px;
}
.text-group .title-1::after{
    content: '';
    position: absolute;
    width: 250px;
    height: 250px;
    top:90%;
    right: 115%;
    background-image: url(https://ld-wp73.template-help.com/monstroid2/skins/maikon/wp-content/uploads/2018/11/arrow-1.svg);
    background-repeat: no-repeat;
}
.text-group .title-2::after{
    content: '';
    position: absolute;
    width: 250px;
    height: 250px;
    top:75%;
    left: -15%;
    background-image: url(https://ld-wp73.template-help.com/monstroid2/skins/maikon/wp-content/uploads/2018/11/arrow-2.svg);
    background-repeat: no-repeat;
}
.text-group .title-3::after{
    content: '';
    position: absolute;
    width: 300px;
    height: 250px;
    top:78%;
    right: 126%;
    background-image: url(https://ld-wp73.template-help.com/monstroid2/skins/maikon/wp-content/uploads/2018/11/arrow-3.svg);
    background-repeat: no-repeat;
}
.text-group .title-4::after{
    content: '';
    position: absolute;
    width: 300px;
    height: 150px;
    top:78%;
    left: -27%;
    background-image: url(https://ld-wp73.template-help.com/monstroid2/skins/maikon/wp-content/uploads/2018/11/arrow-4.svg);
    background-repeat: no-repeat;
}


/* ---------------------------------work-with---------------------------------------------- */
.work-with{
    width:70%;
    margin: auto;
    padding: 20px 0px 20px 0px;
}
.image-group{
    width: 1200px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    /* grid-template-columns: 1fr 1fr 1fr;
    gap: 10px; */
}
a.portfolio{
    padding: 0px;
}
.info-group .title-wrap h2{
    width: 70%;
    font-size: 42px;
    line-height: 1.2;
    font-weight: 300;
    text-align: left;
    padding: 20px 0px 40px 10px;
    color: #1d273b;
}
.btn-wrap .button span.words{
    font-weight: bold;
    color: aliceblue;
    background-color: #1fde82;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}
.btn-wrap span.words:hover{
    background-color: #5d6678;
    transition: 0.3s;
}
.btn-wrap{
    padding-right: 20px;
}
.work-with-top{
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 20px 0px;
}
.info-group{
    width: 100%;
}
.image-group .image img{
    box-shadow:0px 0px 32px -10px #3b3d42;
    border-radius: 10px;
}
.image-group .image{
    position: relative;
}

.green{
    opacity: 0%;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    top: 0%;
    right: 0%;
    z-index: 5;
    color:white;
    background-color: #1fde82; 
}
.image:hover .green{
    transition: 0.3s;
    cursor: pointer;
    opacity: 100%;
}
.VIEW-SITE span{
    font-weight: bold;
    font-size: 12px;
    padding: 20px;
    cursor: pointer;
}
.green h2{
    font-size: 40px;
    font-weight: 400;
    margin: 0px 0px 156px 0px;
    text-align:left;
    opacity: 100%;
}
.card-wrap h2.card-title{
    padding: 50px 20px;
}
.green .card-wrap{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-evenly;
}

/* ---------------------------------sign-up---------------------------------------------- */

.sign-up{
    width: 70%;
    margin: auto;
}
.sign-up .info-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    justify-content: center;
    gap: 60px;
    padding: 80px 0px 60px 0px;
}
.sign-up-wrap{
    width: 400px;
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    padding: 40px;
    box-shadow:0px 5px 20px -16px #3b3d42;
    border-radius: 10px;
    
}
.sign-up .sign-up-wrap h2.title{
    width: 100%;
    font-weight: 300;
    color: #1d273b;
    font-size:42px ;
    padding-bottom: 40px;
}
.sign-up-wrap input{
    /* width: 70%; */
    font-size: 14px;
    font-weight: 300;
    line-height: 1.2;
    padding: 11px 14px 10px 14px;
    margin: 0px 0px 4px 0px;
    color: #5d6678;
    border-style:solid;
    border-width: 1px 1px 1px 1px ;
    border-color: #dde4f5;
    border-radius: 5px;
}
textarea.message{
    /* width: 70%; */
    font-size: 14px;
    font-weight: 300;
    line-height: 1.2;
    padding: 11px 14px 10px 14px;
    color: #5d6678;
    border-color: #dde4f5;
    border-radius: 5px;
}
textarea::placeholder{
    color: #999; 
    font-family: 'Roboto', sans-serif;
}
input::placeholder {
    color: #999; 
    }
input.submit{
    width: 20%;
    font-weight:bold;
    background-color:#1fde82;
    color:aliceblue;
    border-radius: 5px;
}
input.submit:hover{
    background-color: #5d6678;
    transition: 0.3s;
    cursor: pointer;
}
.sign-up-wrap p{
    padding:15px 0px 15px 0px;
    font-size: 14px;
    /* width: 50%; */
}

/* ---------------------------------subscribe---------------------------------------------- */
.site-footer{
    width: 70%;
    margin: auto;
}

.subscribe-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding: 60px;
}
.subscribe input{
    width: 70%;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.2;
    padding: 11px 14px 10px 14px;
    color: #5d6678;
    border-style:solid;
    border-width: 1px 1px 1px 1px ;
    border-color: #dde4f5;
    border-radius: 5px;
}
.subscribe p{
    font-size: 14px;
    width: 40%;
}
.subscribe .title-wrap{
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    padding-right: 40px;
}
.subscribe h2{
    text-align: center;
    line-height: 1.3;
}
.subscribe .input{
    width: 60%;
    display: flex;
}
.subscribe input.submit{
    line-height: 1.5;
    font-weight:bold;
    background-color:#1fde82;
    color:aliceblue;
    border-radius: 5px;
}
.subscribe input.submit:hover{
    background-color: #5d6678;
    transition: 0.3s;
}
/* ---------------------------------footer---------------------------------------------- */
.footer-group{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   gap: 10px;
   padding: 60px;
}
.bottom-card .logo{
    padding: 20px;
}
.bottom-card .text{
   padding-left: 20px;
}
.green-text{
    color: #1fde82;
    font-weight: 400;
}
.bottom-card .card-title h2{
    font-size: 22px;
    font-weight: 400;
    padding: 10px;
}
.bottom-card a{
    font-size: 14px;
    font-weight: 300;
    padding: 10px;
}
.bottom-card a:hover{
    color: #1fde82;
    transition: 0.3s;
}
.bottom-card{
    display: flex;
    flex-direction: column;
}
.bottom-card p{
    width: 90%;
    font-size: 14px;
    padding: 10px;
    line-height: 1.5;
    
}
.card-icon{
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    align-items: center; 
}
.card-icon a:hover{
    background-color: #1fde82;
    border: none;
    color: white;
    transition: 0.3s;
}

.bottom-card .card-icon a{
    border:1px solid #8691a7;
    border-radius: 100px;
    width: 10px; 
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

/* ---------------------------------footer02---------------------------------------------- */
.footer{
    display: flex;
    justify-content: space-between
}
.footer-link{
    font-size: 14px;
    font-weight: 300;
    color: #484a4f;
    cursor: pointer;
}
.footer-link .link-text:hover{
    color: #1fde82;
    transition: 0.3s;
}
.footer-link span.link-text{
    /* padding-right: 20px; */
    margin-left: 20px;
}
.footer .green-text:hover{
    color:#5d6678;
    transition: 0.3s;
    cursor: pointer;
}