
body {
    display: flex;
    flex-direction: column;
    height: 100vh
}
* {
    box-sizing: border-box;
}



/* main Body */
.section_wrap {
    min-height: auto;
    flex-grow: 1;
    display: flex;
    align-items: start;
    justify-content: center;
}


.title {
    display: block;
    line-height: 1.5;
    vertical-align: middle;
}

h2 {
    text-align: left;
}

.content-wrapper input {
    width: 50%;
}

/*.form-control {
  
}*/
.form-content {
    margin-bottom: 10px;
}

.content-wrapper {
    padding-top: 20px;
}

.form_contaner {
    display: grid;
    grid-template-columns: 3fr 8fr;
    margin-bottom: 10px;
}

.form-content {
    padding-bottom: 10px;
}

.form_contaner label {
    display: inline-block;
    padding: 10px 0px;
    margin-right: 20px;
    font-weight: bold;
    text-align: right;
}

abbr {
    color: #c07525;
}

p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 10px;
    line-height: 1.5;
    color: var(--dark-gray);
}

div.border {
    border-bottom: 1px solid var(--dark-gray);
    margin-top: 20px;
}

.btn-save {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}

.div-wrap {
    display: grid;
    grid-template-columns: 4.9fr 3fr;
}


@media screen and (max-width:768px) {
    h2 {
        text-align: center;
    }

    .form_contaner {
        display: flex;
        flex-direction: column;
        /* margin: auto; */
    }

        .form_contaner input {
            width: 100%;
        }

    .form_contaner label {
        min-width: 98px;
        display: flex;
        text-align: left;
    }

    .div-wrap {
        display: block;
    }

    .btn-save button {
        display: block;
        width: 100%;
        border-radius: 3px;
        text-align: center;
    }
}
