<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]ShowNest</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ShowNest.Web.styles.css" asp-append-version="true" />
    <link href="~/css/general/reset.css" rel="stylesheet" />
    <link href="~/css/general/shownest-root.css" rel="stylesheet" />
    <link href="~/css/general/shownest-general-environment-style.css" rel="stylesheet" />
    <link href="~/css/general/shownest-header-nav-style.css" rel="stylesheet" />
    <link href="~/css/general/shownest-footer-style.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/d928366fbc.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("topJS", required: false)
    @await RenderSectionAsync("topCSS", required: false)


</head>

<body>
    <header>
        <nav id="header-nav" class="d-flex logged-in-nav">
            <input type="checkbox" id="nav-checkbox" class="d-none">
            <div id="header-nav-wrap" class="width">
                <div id="header-nav-logo-and-menu-button-wrap"
                    class="d-flex align-items-center justify-content-between">
                    <h1>
                        <a asp-controller="Home" asp-action="Index" id="header-nav-logo">
                            <img src="~/img/general/shownest-logo.png" />
                        </a>
                    </h1>
                    <label id="nav-checkbox-label" for="nav-checkbox"></label>
                </div>
                <div id="header-functions" class="">
                    <div id="header-functions-left" class="">
                        <a asp-controller="Account" asp-action="MyTicketList">我的票券</a>
                        <a asp-controller="Events" asp-action="Index">探索活動</a>
                        <div id="header-nav-search-div" class="d-flex align-items-center">
                            <i class="fa-solid fa-magnifying-glass" id="header-nav-magnifier-icon"></i>
                            <input type="text" id="header-nav-search-input" placeholder="搜尋活動">
                        </div>
                    </div>
                    <div id="header-functions-right" class="">
                        <a id="new-event" class="" asp-controller="Dashboard" asp-action="Events"
                            asp-route-viewType="CreateActivity">
                            <i class="fa-solid fa-circle-plus"></i><span class="large-span">建立</span><span class="small-span">新</span>活動
                        </a>
                        <div id="org-select-wrap" class="d-block dropdown btn-group">
                            <a id="org-select" class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false"><span class="large-span">選擇</span>組織</a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <p>組織列表</p>
                                <li><a href="" class="dropdown-item org">BS</a></li>
                                <li><a href="" class="dropdown-item org">BS2</a></li>
                                <li>
                                    <a asp-controller="Organizations" asp-action="CreateOrganization" class="dropdown-item org">
                                        <i class="fa-solid fa-circle-plus"></i>建立新組織
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div id="user-account-wrap" class="d-block align-items-center dropdown btn-group">
                            <a id="user-account" class="dropdown-toggle" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-user"></i><span>彭德・佛傑</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <a id="user-name" class="dropdown-item d-inline-flex flex-column" href="#">
                                        <img src="https://picsum.photos/300/200/?random=10" alt="user's photo">彭德・佛傑
                                    </a>
                                </li>
                                <li>
                                    <a id="nav-user-setting" class="dropdown-item" asp-controller="Account"
                                        asp-action="UserEdit">
                                        <i class="fa-solid fa-gear"></i>設定
                                    </a>
                                </li>
                                <li>
                                    <a id="nav-user-orders" class="dropdown-item" asp-controller="Account"
                                        asp-action="Orders">
                                        <i class="fa-solid fa-ticket"></i>訂單
                                    </a>
                                </li>
                                <li>
                                    <a id="nav-logout" class="dropdown-item" href="#">
                                        <i class="fa-solid fa-right-from-bracket"></i>登出
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    @RenderBody()
    <footer id="footer">
        <div id="footer-links" class="width">
            <ul>
                <p>參與活動</p>
                <li><a href="">常見問題</a></li>
                <li><a href="">購票流程說明</a></li>
                <li><a asp-controller="Events" asp-action="Index">探索所有活動</a></li>
                <li><a href="">下載 App</a></li>
            </ul>
            <ul>
                <p>舉辦活動</p>
                <li><a href="">主辦單位專區</a></li>
                <li><a href="">如何舉辦活動</a></li>
                <li><a href="">定價方式</a></li>
            </ul>
            <ul>
                <p>關於 KKTIX</p>
                <li><a href="">聯絡我們</a></li>
                <li><a href="">媒體素材</a></li>
                <li><a href="">加入 KKTIX</a></li>
                <li><a href="">隱私權政策</a></li>
                <li><a href="">服務條款</a></li>
            </ul>
            <ul id="footer-icon-ul">
                <p>追蹤 KKTIX</p>
                <li class="footer-icon-li d-flex flex-column">
                    <span href="">台灣</span>
                    <span>
                        <a href="" class="footer-icon-a"><i class="fa-brands fa-facebook"></i></a>
                        <a href="" class="footer-icon-a"><i class="fa-brands fa-instagram"></i></a>
                    </span>
                </li>
                <li class="footer-icon-li d-flex flex-column">
                    <span href="">香港</span>
                    <span>
                        <a href="" class="footer-icon-a"><i class="fa-brands fa-facebook"></i></a>
                        <a href="" class="footer-icon-a"><i class="fa-brands fa-instagram"></i></a>
                    </span>
                </li>
                <li><a href="">部落格</a></li>
            </ul>
        </div>
        <div id="footer-end" class="width d-flex align-items-center">
            <div class="d-flex align-items-center">
                <img id="footer-logo" src="~/img/general/shownest-logo.png" alt="">
                <span>ShowNest Entertainment Limited</span>
            </div>
            <div>
                <i class="fa-solid fa-earth-asia"></i>
                <a href="" class="footer-lang-active">繁體中文</a>
                <a href="">English</a>
                <a href="">日本語</a>
            </div>
        </div>
    </footer>
    @* <footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2024 - ShowNest.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await RenderSectionAsync("endJS", required: false)
</body>

</html>
