:root {
    --main-color: #77A88D;
    --main-color-hover: #77A88D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Arial, "Heiti TC", "Apple LiGothic Medium", "新微軟正黑體", "微軟正黑體", sans-serif;
    font-size: 15px;
    color: #333333;
}

/* change bootstrap nav color start */
.nav-tabs {
    --bs-nav-tabs-link-active-color: var(--bs-emphasis-color);
    --bs-emphasis-color: #333333
}

ul.nav li a,
ul.nav li a:visited {
    color: #77A88D;
}

ul.nav li a:hover,
ul.nav li a:active {
    color: #77A88D;
    background-color: #FAFAFA;
}

ul.nav li.active a {
    color: #77A88D;
}

/* change bootstrap nav color end */


/* main Body */
.mainWrap {
    width: 75%;
    margin: auto;
    margin-top: 20px;
}

.title {
    display: block;
    line-height: 2;
    align-items: center;
}

.btn {
    text-align: left;
}

h2 {
    font-size: 30px;
}

.form_contaner {
    display: grid;
    grid-template-columns: 3fr 8fr;
    margin-bottom: 10px;
}

.idContaner {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr 6fr;
}

.idContaner input {
    margin-top: 10px;
    margin-right: 3px;
}

.disabledPeopleCheck {
    text-align: left;
    padding: 10px;

}

.disabledPeopleCheck .CheckboxGroup {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
}

.disabledPeopleCheck ul {
    list-style: none;
}

.disabledPeopleCheck li label {
    text-align: left;
    cursor: pointer;
}

label {
    display: inline-block;
    padding-top: 18px;
    margin-right: 20px;
    font-size: 15px;
    font-weight: bold;
    text-align: right;
    color: #333333;
    min-width: 80px;
}

.collapseGroup button {
    color: var(--main-color);
}

.collapseGroup button:hover {
    color: rgb(85, 212, 104);
}

.identCollapse.btn.collapsed::before {
    content: "▿";
    left: -5px;
}

.identCollapse.btn::before {
    content: "▵";
    left: -5px;
}

p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 10px;
    line-height: 1;
    color: gray;
    font-size: 15px;
}

div.border {
    border-bottom: 1px solid #333333;
    margin-top: 20px;
}

.btnSave {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}

.divWrap {
    display: grid;
    grid-template-columns: 5.8fr 3fr;
}

.wrap {
    width: 100%;
    max-width: 1400px;
    margin: auto;
}

@media only screen and (max-device-width:768px) {
    .wrap {
        max-width: 960px;
    }

    .title {
        text-align: center;
    }

    .form_contaner {
        display: flex;
        flex-direction: column;
        /* margin: auto; */
    }

    .idContaner {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .form_contaner input {
        width: 100%;
    }

    label {
        min-width: 75px;
        text-align: center;
    }

    .disabledPeopleCheck .CheckboxGroup input {
        width: auto;
    }

    .divWrap {
        display: block;
    }
}