
@{
    ViewData["Title"] = "CreateActivity";
}

@section topCSS {
    <link href="~/css/Dashboard/CreateActivity.css" rel="stylesheet" />
}

<body>
    <div class="wrap">
        <div class="container">
            <!-- 從首頁導覽列進入的建立活動 -->
            <div class="empty">
                <!-- 留白:從組織進去會多出一排組織名稱 -->
            </div>
            <div class="ActivityContainer">
                <h2>建立活動</h2>
                <h3 class="select-organizer">選擇活動舉辦單位</h3>
                <p>您尚未選擇組織，請選取此活動所屬之組織：</p>
                <select name="所屬組織" id="organizeList" class=".form-select">
                    <option selected value ='option1'> === 請選擇組織 === </option>
                    <option>Mafia</option>
                    <option>Freemasonry</option>
                </select>
                <!-- Hide the organizations while not selected below -->
                <div class="new-activity">
                    <input type="radio" class="new-activiy-radio">
                    <label> 全新的活動</label>
                </div>
                <div class="activity-select">
                    <p class="notice">您也可以直接套用既有的活動設定（基本資料、表單、票種），節省您寶貴的時間</p>
                    <h3 class="lined">以最近舉辦的活動做為樣板</h3>
                    <!-- Show activity items when the activities exist-->
                    <div class="activity-item">
                        <!-- Display blank when no activities exist -->
                        <!-- <p>尚無活動可做樣板</p> -->
                        <label><input type="radio" id="ActivityItem"> 深夜九點半搶銀行(暫)</label>
                    </div>
                </div>
                <div class="TOSzone">
                    <label for="">
                        <input type="checkbox" class="checkbox"> 我已經閱讀並同意
                        <a href="">主辦單位服務條款</a> 與 <a href="">隱私權政策</a>
                    </label>
                </div>
                <input class="establishBtn" type="button" value="建立" onclick="window.location.href='https://localhost:7156/Dashboard/Events?viewType=SetActivity'" />
            </div>
        </div>
    </div>

    @section Scripts {
        <script src="~/js/Dashboard/CreateActivity.js"></script>

    }
</body>

