
@section topCSS {
    <link href="~/css/organization/contactorganization.css" rel="stylesheet" />
}


<section class="section_wrap">
    <div id="contactOrg" class="main-wrap width">
            <!----------- Title------------>
            <div class="title">
                <h2 id="title">聯絡主辦單位： 雲育鏈</h2>
            </div>

            <!----------- Form------------>
            <form id="contact-form" action="">
                <div class="main-form">
                    <div class="content-wrapper">
                        <div class="form_contaner">
                            <!-- ----------------------姓名----------------  -->
                            <label for="contact_name">
                                姓名
                            </label>
                            <div class="form-content input-group-sm">
                                <input class="form-control" id="contact_name" type="text" placeholder="Jinn">
                            </div>
                            <!-- ---------------------- Email----------------  -->
                            <label for="contact_email">
                                Email
                            </label>
                            <div class="form-content input-group-sm">
                                <input class="form-control" id="contact_email" type="email"
                                       placeholder="1234@gmail.com">
                            </div>
                            <!-- ---------------------- 連絡電話----------------  -->
                            <label for="contact_phone">
                                連絡電話
                            </label>
                            <div class="form-content input-group-sm">
                                <input class="form-control" id="contact_phone" type="tel" placeholder="0912345678">
                            </div>
                            <!-- ---------------------- 活動名稱----------------  -->
                            <label for="contact_event_name">
                                活動名稱
                            </label>
                            <div class="form-content input-group-sm">
                                <input class="form-control" id="contact_event_name" type="text">
                            </div>
                            <!-- ---------------------- 主旨----------------  -->
                            <label for="contact_purpose">
                                主旨
                            </label>
                            <div class="form-content input-group-sm">
                                <input class="form-control" id="contact_purpose" type="text">
                            </div>
                            <!-- ---------------------- 意見----------------  -->
                            <label for="contact_opinion">
                                意見
                            </label>
                            <div class="form-floating textarea">
                                <textarea class="form-control" name="" id="contact_opinion"
                                          style="height: 100px"></textarea>
                            </div>
                        </div>
                    </div>
                <div class="border width"></div>
                </div>
            <!-- ---------------儲存個人資料按鈕-------------- -->
            <div class="button_wrap">
                <div class="submit_group width">
                    <div class="button_submit">
                        <button href="" class="btn btn-primary btn_submit">
                            送出
                        </button>
                    </div>
                    <div class="button_back">
                        <button href="" class="btn btn-light btn_back">
                            回到上一頁
                        </button>
                    </div>
                </div>
            </div>
            </form>
        </div>
        
        
    </section>
