:root {
    --main-color:#1d5545 ;
    --main-color-hover: #77A88D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Arial, "Heiti TC", "Apple LiGothic Medium", "新微軟正黑體", "微軟正黑體", sans-serif;
    font-size: 15px;
    color: #333333;
}

/* change bootstrap nav color start */
.nav-tabs {
    --bs-nav-tabs-link-active-color: var(--bs-emphasis-color);
    --bs-emphasis-color: #333333
}

ul.nav li a,
ul.nav li a:visited {
    color: var(--main-color);
}

ul.nav li a:hover,
ul.nav li a:active {
    color: var(--main-color);
    background-color: #FAFAFA;
    text-decoration: none;
}

ul.nav li.active a {
    color: var(--main-color);
}

/* change bootstrap nav color end */


/* main Body */
.main-wrap {
    width: 75%;
    margin: auto;
    margin-top: 20px;
}

.title {
    display: block;
    line-height: 2;
    align-items: center;
    vertical-align: middle;
}

h2 {
    font-size: 30px;
}
.org-list-title{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(184, 179, 179);
}
.list-names{
    display: flex;
    flex-direction: row;
}
.list-names p{
    font-weight: 400;
}
.button-group{
    padding-right: 10px;
    padding-top: 10px;
}
.button-group .btn{
    border:1px solid #FAFAFA;
    box-shadow: 0px 0px 2px 1px rgb(184, 179, 179) ;
    margin-right: 5px;
    color: var(--main-color);
}
.btn:hover{
    color:rgb(85, 212, 104) ;
}
.btn i{
    padding-right:5px ;
}

p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 8px;
    line-height: 1;
    color: #333333;
    font-size: 15px;
    font-weight: bold;
}
.main-content{
    display: flex;
    flex-direction: column;
}
.pages{
    padding: 10px;
    display: flex;
    flex-direction: column-reverse;
}

.wrap {
    width: 100%;
    max-width: 1400px;
    margin: auto;
}
.btn-group .btn{
    background-color: #da712b;
    color: white;
    border: none;
}
.btn-group .btn:active{
    background-color: #f7cb49;
    border: none;
}

@media only screen and (max-device-width:768px) {
    .wrap {
        max-width: 960px;
    }
    .title{
        text-align: center;
    }
    
    .pages{
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        align-items: center;
    }
}