:root {
    --main-color: #1d5545;
    --main-color-hover: #77A88D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Arial, "Heiti TC", "Apple LiGothic Medium", "新微軟正黑體", "微軟正黑體", sans-serif;
    font-size: 15px;
    color: #333333;
    background-color: #f1f1f18b;
}

/* main Body */
.count_down_group {
    background-color: rgb(240, 240, 240);
    padding: 10px;
}

.main_wrap {
    width: 75%;
    margin: auto;
    margin-top: 20px;
    line-height: 1.5em;
}

.count_down_timer {
    background-color: #DB4455;
    color: #fff;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 4px;
    margin: auto;
    text-align: center;
    justify-content: center;
    width: 75%;
    min-width: 633px;
}

h2 {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 20px;
}

h3 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 10px;
    line-height: 1;
    color: #888;
    font-size: 15px;
}

label {
    font-weight: bold;
    padding: 8px 0;
}

.control-group {
    margin-bottom: 15px;
}

.event_detail_collapse {
    color: var(--main-color);
}

.event_detail_collapse.btn::after {
    content: "▵";
    left: -5px;
}

.event_detail_collapse.btn.collapsed::after {
    content: "▿";
    left: -5px;
}

.collapse a {
    color: rgb(85, 212, 104);
    text-decoration: none;
}

.collapse a:hover {
    color: var(--main-color-hover);
}

.collapse th {
    padding: 2px 15px 2px 0;
    color: #888;
    min-width: 75px;
    font-weight: bold;
}

.collapse td {
    padding: 2px 0 2px 15px;
    font-weight: 400;
}

.collapse tr {
    display: table-row;
    vertical-align: top;
    color: #333333;
}

.btn_cancel.btn {
    border: 1px solid #FAFAFA;
    box-shadow: 0px 0px 2px 1px rgb(184, 179, 179);
    margin-right: 5px;
    color: var(--main-color);
}

.btn:hover {
    color: rgb(85, 212, 104);
}

.progress_container {
    margin: 20px auto 0 auto;
    padding: 40px;
}

.step_progress_bar {
    display: flex;
    margin: 0 auto;
    margin-bottom: 40px;
    justify-content: space-evenly;
    gap: 20px;
}

.step {
    text-align: center;
    background-color: rgb(240, 240, 240);
    display: flex;
    align-items: center;
    border-radius: 50px;
    position: relative;
    border: 3px solid rgb(218, 218, 218);

}

p.step_text {
    margin-top: 10px;
    color: rgb(85, 212, 104);
    line-height: 2;
    width: 150px;
    vertical-align: bottom;
    font-weight: bold;
    text-align: left;
    padding-left: 8px;
}

.number {
    margin-left: 10px;
    border-radius: 100%;
    line-height: 2;
    width: 30px;
    border: 1px solid rgb(85, 212, 104);
    background-color: white;
    color: #333333;
    display: inline-block;
    transition: background-color 500ms;
}

.step.progressing {
    color: rgb(85, 212, 104);
    background-color: rgb(85, 212, 104);
    border: 3px solid var(--main-color-hover);
}

.step.progressing p {
    color: white;
}

.step.progressing span {
    color: rgb(85, 212, 104);
}

.step.progressing::after {
    content: '';
    position: absolute;
    height: 6px;
    width: 67%;
    background-color: rgb(184, 179, 179);
    left: 100%;
    bottom: 43%;
    z-index: -1;
}

.step.display::after {
    content: '';
    position: absolute;
    height: 6px;
    width: 67%;
    background-color: hsla(0, 3%, 71%, 0.5);
    left: 100%;
    bottom: 43%;
    z-index: -1;
}

.display {
    color: hsl(129, 60%, 80%);
    border: 3px solid hsl(147, 22%, 80%);
    background-color: hsl(129, 60%, 80%);
}

.display .number {
    color: rgb(85, 212, 104);
}

.display p {
    color: white;
}

.order_details {
    padding-top: 20px;
    padding-bottom: 20px;
    min-width: 965px;
}

.order_details ul {
    list-style: none;
}

.order_details tr {
    display: table-row;
    vertical-align: top;
    color: #333333;
}

.highlight th {
    background-color: hsla(60, 100%, 50%, 0.104);
}

.highlight td {
    background-color: hsla(60, 100%, 50%, 0.104);
}

.table thead {
    font-weight: bold;
}

tr.gray_block th {
    background-color: gray;
    color: white;
}

th.seat {
    padding-left: 100px;
}

th.ticket_type {
    padding-left: 20px;
}

td.ticket_name {
    padding-left: 20px;
}

td.price_total {
    text-align: right;
    color: #888;
    font-weight: 300;
    padding-right: 20px;
}

td.price_count span {
    text-align: right;
    padding-left: 150px;
}

.cart_ticket_list_subtable_with_seat tr {
    color: #888;
    font-weight: 300;
}

.seat_detail_group {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

li.seat-info {
    padding-left: 90px;
}

th.price {
    text-align: right;
    padding-right: 20px;
}

th.total {
    padding-left: 20px;
    font-weight: bold;
}

td.tfoot_price_total {
    text-align: right;
    padding-right: 20px;
}

abbr {
    color: #c07525;
}

.contact_info {
    background: #fff;
    border-left: #00aed6 40px solid;
    padding: 15px 15px 5px;
    position: relative;
    padding-bottom: 30px
}

.contact_info:before {
    content: '\f007';
    font-family: 'FontAwesome';
    font-weight: normal;
    color: #fff;
    /* color: #333333; */
    position: absolute;
    display: block;
    width: 40px;
    text-align: center;
    top: 50%;
    left: -40px;
    font-size: 26px;
    margin-top: -17px
}

.registration_info {
    padding-bottom: 20px;
}

.control-group label {
    cursor: pointer;
}

.btn_save {
    display: flex;
    justify-content: center;
    padding: 11px 70px;
    min-width: 263px;
}

.section_wrap {
    width: 100%;
    max-width: 1400px;
    margin: auto;
}

@media only screen and (max-device-width:768px) {
    body{
        position: relative;
    }
    .section_wrap {
        max-width: 960px;
    }

    .title {
        text-align: center;
        line-height: 1.5;
    }
    .btn_save{
        width: 100%;
        min-width: 100px;
    }
    .btn_save button{
        width: 466px;
        display: inline-block;
        position: fixed;
        left: -27px;
        bottom: 514px;
        z-index: 2;
    }

}

@media only screen and (max-device-width:1200px) {

    /* -------progress bar--------- */
    .progress_container {
        margin: 0;
        padding: 20px 0;
    }

    .step_progress_bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0px;
    }

    .step {
        border: none;
        padding: 10px 0px;
        border-radius: 0px;
    }

    .step:first-child {
        border-radius: 10px 10px 0 0;
    }

    .step:last-child {
        border-radius: 0 0 10px 10px;
    }

    p.step_text {
        margin-top: 10px;
        color: rgb(85, 212, 104);
        line-height: 0;
        /* width: 100%; */
        font-weight: bold;
        text-align: left;
        padding-left: 8px;
    }

    .number {
        margin-left: 10px;
        border-radius: 100%;
        border: 1px solid rgb(85, 212, 104);
        background-color: white;
        color: #333333;
    }

    .step.progressing {
        border: none;
    }

    .step.progressing::after {
        display: none;
    }

    .step.display::after {
        display: none;
    }

    /* -------------order details---------------- */
    table.cart-ticket-list,
    table.cart-ticket-list>thead,
    table.cart-ticket-list>tbody,
    table.cart-ticket-list>tfoot,
    table.cart-ticket-list>*>tr {
        display: block;
        width: 70%;
        overflow: hidden;
        align-items: center;
    }

    /* table.cart-ticket-list thead th,
    table.cart-ticket-list tfoot th,
    table.cart-ticket-list tfoot td {
        display: block;
        width: 50%;
        float: left
    } */
    .order_details>*{
        width: 10%;
    }
    .gray_block th {
        /* display: flex;
        flex-direction: column; */
        background-color: ;
    }
    

    th.seat {
        display: none;
        visibility: hidden;
    }

    th.ticket_type {
        padding-left: 20px;
    }

    td.ticket_name {
        padding-left: 20px;
        width: 100%;
        display: block;
        background-color: hsla(0, 0%, 53%, 0.2);
    }

    td.price_total {
        padding-right: 20px;
    }

    td.price_count span {
        padding-left: 20px;
    }

    .seat_detail_group {
        display: flex;

    }

    li.seat-info {
        padding-left: 20px;
    }

    th.price {
        padding-right: 20px;
    }

    th.total {
        padding-left: 20px;
        font-weight: bold;
    }

    td.tfoot_price_total {
        text-align: right;
        padding-right: 20px;
    }

}